<h1>Your Profile</h1>

<ul>
    <li><strong>Full Name: </strong><%= @profile.full_name %></li>
    <% if @profile.age %>
        <li><strong>Age: <%= @profile.age %></strong></li>
    <% end %>
    <% unless @profile.bio.blank? %>
        <li><strong>Bio: </strong>
            <br><%= @profile.bio %>
        </li>      
    <% end %>
</ul>

<% if policy(@profile).update? %>
    <%= link_to "Edit Profile", edit_user_profile_path %>
<% end %>