<h1>Your Profile</h1>

<ul>
    <li><strong>Full Name: </strong><%= @profile.full_name %></li>
    <li><strong>Age: <%= @profile.age %></strong></li>
    <li><strong>Bio: </strong>
        <br><%= @profile.bio %>
    </li>
</ul>