<%= turbo_frame_tag comment do %>
  <div class="comment">
    <strong><%= link_to_feed(comment.commenter) %></strong>
    <p><%= comment.body %></p>
    
    <%= render "comments/creator_controls", comment: comment %>
  </div>
<% end %>
