<%= turbo_frame_tag comment do %>
  <div class="comment">
    <hr>
    <%= comment.body %>
    
    <strong>By:</strong> <%= comment.commenter.profile.full_name %>
    <%= render "comments/creator_controls", comment: comment %>
  </div>
<% end %>
