<%= form_with model: [commentable, comment] do |form| %>
  <%= render "shared/form_errors", model: comment %>

  <div class="form-box">
    <%= form.text_area :body, autocomplete: "off", placeholder: "Write a comment..." %>
    <%= form.submit %>
  </div>
<% end %>
