<h2>All Users</h2>

<ul>
    <% @users.each do |user| %>
        <li>
            <%= user.email %>
            <% if current_user.friend?(user) %>
                <strong>You are friend</strong>
            <% elsif current_user.request_sent?(user) %>
                <strong>Request Sent</strong>
            <% elsif current_user.request_received?(user) %>
                <%= render "request_response" %>
            <% else %>
                <%= link_to "Send Request", friendships_create_path(friend_id: user.id) %>
            <% end %>
        </li>
    <% end %>
</ul>
