<h2>All Users</h2>

<ul>
    <% @users.each do |user| %>
        <li>
            <%= link_to user.profile.full_name, user_profile_path(user) %>
            <% if current_user.friend?(user) %>
                <strong>You are friend</strong>
            <% elsif current_user.request_sent?(user) %>
                <strong>Request Sent</strong>
            <% elsif current_user.request_received?(user) %>
                <%= render "request_response" %>
            <% else %>
                <%= link_to "Send Request", friendships_create_path(friend_id: user.id) %>
            <% end %>
        </li>
    <% end %>

    <%= link_to "New Post", new_user_post_path(current_user) %>
</ul>
