<span>
    <%= button_to "Accept", friendship_path(friendship), method: :patch, params: { response: "accepted"} %>
    <%= button_to "Decline", friendship_path(friendship), method: :patch, params: { response: "rejected"} %> 
</span>