<span>
    <%= button_to "Accept", friendship_path(friendship), method: :patch, params: { friendship: { status: "accepted" } } %>
    <%= button_to "Decline", friendship_path(friendship), method: :delete, data: { turbo_confirm: "Are you sure?" }%>
</span>