<div class="dropdown">
    <button>...</button>
  <div class="post__actions dropdown-menu" data-visible-to="<%= post.creator_id %>">
      <%= link_to "Edit", edit_post_path(post) %>

      <% if show_page %>
          <%= button_to "Delete", post, method: :delete,
                                        form: {
                                          data: {
                                              turbo: false,
                                              controller: "confirmation",
                                              action: "submit->confirmation#confirm",
                                          }
                                        } %>
      <% else %>
          <%= button_to "Delete", post, method: :delete, 
                                        form: {
                                          data: { turbo_confirm: "Are you sure?" }
                                        } %>   
      <% end %>
  </div>
</div>