<div class="post__actions">
    <%= link_to "Edit", edit_post_path(post) %>
    <%#= button_to "Delete", post, method: :delete, form: { local: true, data: { turbo_confirm: "Are you sure?" } } %>


    <%= button_to "Delete", post, method: :delete,
                                    form: { 
                                        data: {
                                            turbo: false,
                                            controller: "confirmation",
                                            action: "submit->confirmation#confirm",
                                        }
                                    } %>
             
</div>