<div class="post">
    <%= form_with model: [user, post] do |f| %>
        <%= render "shared/form_errors", model: post %>

        <%= f.text_area :body %>
        <%= f.submit %>
    <% end %>
</div>