  <p><%= post.body %></p>
  <strong>By: </strong><%= post.creator.profile.full_name %>

  <%= link_to "Edit", edit_post_path(post) %>
  <%= link_to "Delete", post, data: { turbo_method: :delete,
                                      turbo_confirm: "Are you sure?"} %>
