<%= stylesheet_link_tag "posts" %>

<div class="feed">
    <h1>Posts</h1>

    <%#= turbo_frame_tag id="new_post", src: new_user_post_path(current_user) %>
    <%= turbo_frame_tag "new_post" do %>
        <%= link_to "New Post", new_user_post_path(current_user) %>
    <% end %>
    <%= render @posts %>
</div>