<%= stylesheet_link_tag "posts" %>

<div class="feed">
    <h1>Posts</h1>

    <%= link_to "New Post", new_user_post_path(current_user) %>

    <% @posts.each do |post| %>
        <%= render "post", post: post %>
    <% end %>
</div>