/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
}

form {
  display: inline;
}

.modal {
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: min(800px, 95%);
  height: 90vh;
  overflow: scroll;
}

.modal::backdrop {
  background-color: rgba(0,0,0,0.4);
}

.dropdown {
  position: relative;
}

.dropdown > .menu {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  z-index: 2;
}
