.feed {
    width: min(600px,95%);
    margin-inline: auto;

    display: grid;
    row-gap: 20px;
}

#posts {
    display: grid;
    row-gap: 8px;
}

[id$="_comments"] {
    display: grid;
    row-gap: 12px;
}

.post,
.comment {
    border: 1px solid black;
    padding: 10px;
}

.post {
    display: grid;
    row-gap: 10px;
}

.user-actions {
    display: flex;
    justify-content: space-around;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px 0;
}

.comment {
    max-width: fit-content;
}

.comment_counter {
    display: flex;
    justify-content: flex-end;
}

.form-box {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.form-box textarea {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
}

.form-box input[type=submit] {
    align-self: flex-end;
}
