.feed {
    width: 1000px;
    margin-inline: auto;

    display: grid;
    row-gap: 20px;
}

.post,
.comment {
    border: 1px solid black;
    padding: 10px;
}

.comment {
    max-width: fit-content;
}

.comment_counter {
    display: flex;
    justify-content: flex-end;
}

.form-box {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.form-box textarea {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
}

.form-box input[type=submit] {
    align-self: flex-end;
}
